* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  color: white;
}

body {
  background-color: black;
}

div {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  line-height: 50px;
}

.ball {
  background-color: yellow;
}
